apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: multi-ns.nginx
  name: multi-ns.nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: multi-ns.nginx
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: multi-ns.nginx
    spec:
      containers:
      - image: nginx
        name: nginx
        resources: {}
status: {}
